{
  "selfRegionId": 4,
  "region": [
    {
      "regionId": 4,
      "replicaInfo": [
        {
          "id": 13,
          "ip": "127.0.0.1",
          "port": 18031
        },
        {
          "id": 14,
          "ip": "127.0.0.1",
          "port": 18032
        },
        {
          "id": 15,
          "ip": "127.0.0.1",
          "port": 18033
        },
        {
          "id": 16,
          "ip": "127.0.0.1",
          "port": 18034
        }
      ]
    }
  ],
  "requireTxnValidation": true,
  "enableViewchange": false,
  "enableResview": true,
  "enableFaultySwitch": false,
  "maxProcessTxn": 2048,
  "crossShardPeer": [
    { "id": 1, "ip": "127.0.0.1", "port": 18001 },
    { "id": 5, "ip": "127.0.0.1", "port": 18011 },
    { "id": 9, "ip": "127.0.0.1", "port": 18021 }
  ],
  "leveldbInfo": {
    "writeBufferSizeMb": 128,
    "writeBatchSize": 1,
    "enableBlockCache": true,
    "blockCacheCapacity": 100
  }
}