{
  "selfRegionId": 1,
  "region": [
    {
      "regionId": 1,
      "replicaInfo": [
        {
          "id": 1,
          "ip": "127.0.0.1",
          "port": 18001
        },
        {
          "id": 2,
          "ip": "127.0.0.1",
          "port": 18002
        },
        {
          "id": 3,
          "ip": "127.0.0.1",
          "port": 18003
        },
        {
          "id": 4,
          "ip": "127.0.0.1",
          "port": 18004
        }
      ]
    }
  ],
  "requireTxnValidation": true,
  "enableViewchange": false,
  "enableResview": true,
  "enableFaultySwitch": false,
  "maxProcessTxn": 2048,
  "crossShardPeer": [
    { "id": 5, "ip": "127.0.0.1", "port": 18011 },
    { "id": 9, "ip": "127.0.0.1", "port": 18021 },
    { "id": 13, "ip": "127.0.0.1", "port": 18031 }
  ],
  "leveldbInfo": {
    "writeBufferSizeMb": 128,
    "writeBatchSize": 1,
    "enableBlockCache": true,
    "blockCacheCapacity": 100
  }
}